<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <style>
			body {
				font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
			}
		</style>
</head>
<body>
    <h1>Signup</h1>
    <form action="/user" method="post">
        <label for="userName">Full name:</label>
        <input id="userName" type="text" name="name" placeholder="Enter name">
        <label for="userEmail">Email:</label>
        <input id="userEmail" type="email" name="email" placeholder="example@gmail.com">
        <label for="userPassword">Password:</label>
        <input id="userPassword" type="password" name="password" placeholder="Enter 5 digit password">
        <button type="submit">Signup</button>
    </form>
    <div>
        <% if (locals.error) { %>
        <p><%= error %></p>
        <% } %>
    </div>
</body>
</html>